.container {
    width: 1050px;
    margin: 0 auto;
}

.inputTitle {
    display: block;
    width: 30%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #dbdbdb;
}