@import url('Header.css');
@import url('TechStack.css');

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap");

/* ===== 변수 구간 ===== */
:root {
    --color-main: #FF4200;
    --color-sub: #00A200;
    --color-dark: #2F4858;
    --color-emph: #F10F5F;
    --color-text: #281812;
    --color-lighter: #DC9C86;
    --color-light-bd: #FFE6D6;
    --color-light-bg: #FFF5ED;

    --font-code: 'Nanum Gothic Coding', monospace;;

    --font-size-title: 44px;
    --font-size-subtitle: 32px;
    --font-size-tag: 26px;
    --font-size-larger: 20px;
    --font-size-text: 18px;

    --height-toolbar: 72px;
}