.title {
    font-size: 70px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 20px;
}

.connect-button {
    display: block;
    margin: 10px auto;
    width: fit-content;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Account_Info {
    border: solid skyblue;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    min-height: 550px;
    width: 568px;
    background-color: white;
    padding: 20px;
}

.Account_Info .block {
    margin: 20px;
}

.Account_Info .title {
    border: solid skyblue;
    border-radius: 15px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.Account_Info .Info {
    font-size: 19px;
}

.Account_Info .Info .addresses{
    margin-top: 5px;
}

.SendEther {
    border: solid skyblue;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    min-height: 550px;
    width: 568px;
    background-color: white;
    padding: 20px;
}

.SendEther .Adress {
    border: solid skyblue;
    margin: 10px;
    padding: 10px;
    width: 500px;
}

.SendEther .value {
    border: solid skyblue;
    padding: 10px;
    width: 500px;
}

.SendEther .send_button {
    display: block;
    margin: 10px auto;
    width: fit-content;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}