.title {
    font-size: 70px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 20px;
}

.connect-button, .SendEther .send_button {
    display: block;
    margin: 10px auto;
    width: fit-content;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.SendEther .send_button {
    background-color: #007bff;
}

.Account_Info, .SendEther {
    border: solid skyblue;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    min-height: 550px;
    width: 568px;
    background-color: white;
    padding: 20px;
}

.Account_Info .block {
    margin: 20px;
}

.Account_Info .network div {
    padding: 5px;
    border-bottom: solid black;
}

.Account_Info .address-info {
    margin: 5px;
    padding: 10px;
    border-bottom: solid black;
}

.Account_Info .showButton {
    width: 500px;
    background-color: grey;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.Account_Info .title {
    border: solid skyblue;
    border-radius: 15px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.Account_Info .Info {
    font-size: 19px;
}

.Account_Info .Info .addresses {
    margin-top: 5px;
}

.SendEther .Adress {
    border: solid skyblue;
    margin: 10px;
    padding: 10px;
    width: 500px;
}

.SendEther .value {
    border: solid skyblue;
    padding: 10px;
    width: 500px;
}

/* 미디어 쿼리 추가 */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .Account_Info, .SendEther {
        width: 90%; /* 가로 폭을 줄여 화면에 맞춤 */
        margin: 10px auto; /* 가운데 정렬을 위해 자동 마진 */
    }

    .SendEther .Adress, .SendEther .value {
        width: 100%;
    }

    .Account_Info .title {
        width: 110%; /* 너비를 100%로 설정 */
        text-align: center; /* 텍스트 중앙 정렬 */
        margin: 0 auto; /* 마진을 자동으로 설정하여 중앙에 배치 */
    }

    .block .network, .block .addresses {
        width: 100%; /* 너비를 100%로 설정 */
        text-align: center; /* 텍스트 중앙 정렬 */
        margin: 0 auto; /* 마진을 자동으로 설정하여 중앙에 배치 */
        word-break: break-all;
    }
}
